<ul class="nav nav-tabs" id="configAppTabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#instruction" id="instruction-tab" data-toggle="tab" role="tab" aria-controls="instruction" aria-selected="true">Instructions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#settings" id="settings-tab" data-toggle="tab" role="tab" aria-controls="settings" aria-selected="true">Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#manage-users" id="manage-users-tab" data-toggle="tab" role="tab" aria-controls="manage-users" aria-selected="true">Manage Users</a>
  </li>
</ul>
<div class="tab-content" id="configAppTabsContent">
  <div class="tab-pane fade show active" id="instruction" role="tabpanel" aria-labelledby="instruction-tab">
    <h6>Pre Requisites</h6>
    <ol>
      <li>You need to have a valid account @ <a href="https://www.datadog.com">datadog.com</a></li>
      <li>You need to be an administrator of the datadog account</li>
    </ol>
    <h6>Instruction Steps</h6>
    <ol>
      <li><a href="#configureDataDog">Configuration Steps on DataDog</a></li>
      <li><a href="#configureGate">Configuration Steps on Gate</a></li>
      <li><a href="#manageUsersGate">Manage Users on Gate</a></li>
    </ol>
    <h6 id="configureDataDog">Configuration Steps on Datadog</h6>
    <ol>
      <li>Login to Datadog as an administrator</li>
      <li>
        <p>
          Click on <img src='https://secure.gravatar.com/avatar/5800f8b6f41ce19a81012cf8aef1bfc1?s=48&d=retro' style='width: 20px;' /> in the bottom left, then select <b>Configure SAML</b>
        </p>
        <%= image_tag("saml_configure_datadog_01.png") %>
      </li>
      <li>Download the IdP Metadata by clicking <%= link_to "here", metadata_path(slug: org.slug, app: 'datadog', download: true) %></li>
      <li>
        <p>Click <b>Choose file</b>, locate the <b>metadata.xml</b> you just saved, and then click Upload File</p>
        <%= image_tag("saml_configure_datadog_02.png") %>
      </li>
      <li>
        <p>Click <b>Enable</b></p>
        <%= image_tag("saml_configure_datadog_03.png") %>
      </li>
      <li>Make a copy of your <b>Single Sign-on URL</b> value</li>
      <li>
        <p>For the below image follow the following steps:</p>
        <ol>
          <li>Enable <b>Identity Provider (IdP) Initiated Login</b></li>
          <li>Enable <b>SAML Strict Mode</b></li>
          <li><u>Note: We will not be using <b>JIT</b>, instead managing users will be done via a different panel</u></li>
          <li>Hit <b>Save</b></li>
        </ol>
        <%= image_tag("saml_configure_datadog_04.png") %>
      </li>
    </ol>
    <h6 id="configureGate">Configuration Steps on Gate</h6>
    <ol>
      <li>
        <p>Copy the entity Id from the below picture after setting up SAML using the previous Instructions</p>
        <%= image_tag("saml_configure_datadog_03.png") %>
      </li>
      <li>Navigate to <a href="https://app.datadoghq.com/account/settings#api">Datadog API Setup</a> to setup your API and App Keys</li>
      <li>
        <p>Refer the below image, to add the API Key</p>
        <%= image_tag("saml_configure_datadog_05.png") %>
      </li>
      <li>
        <p>Refer the below image, to add the App Key</p>
        <%= image_tag("saml_configure_datadog_06.png") %>
      </li>
      <li>
        <p>Update the SSO Url, Application Key, API Key from the previous steps by refering the below image</p>
        <%= image_tag("saml_configure_datadog_07.png") %>
      </li>
      <li>As a part of this process a group will be auto generated to add and remove users for accessing Datadog. The group created would be called <b>saml_datadog_users</b></li>
    </ol>
    <h6 id="manageUsersGate">Manage Users on Gate</h6>
    <ol>
      <li>Click on <b>Manage Users</b> to add/remove users</li>
      <li>
        <p>Enter the email address in the below box to add users to datadog</p>
        <%= image_tag("saml_configure_datadog_08.png") %>
      </li>
      <li>
        <p>When you click on the page, you will get a list of users with a remove button. You can click remove to remove users from accessing datadog</p>
        <%= image_tag("saml_configure_datadog_09.png") %>
      </li>
    </ol>
  </div>
  <div class="tab-pane fage" id="settings" role="tabpanel" aria-labelledby="settings-tab">
    <%= form_for saml_config, url: organisation_save_config_saml_app_path(organisation_id: org.id, app_name: app_name), method: :post do |f|  %>
      <div class='form-group'>
        <%= label_tag :datadog_sso_url %>
        <%= f.text_field :sso_url, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= label_tag :application_key %>
        <%= text_field_tag 'config[app_key]', saml_config.config['app_key'], class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= label_tag :api_key %>
        <%= text_field_tag 'config[api_key]', saml_config.config['api_key'], class: 'form-control' %>
      </div>
      <%= f.submit 'Update Configuration', class: 'btn btn-primary mb-2'%>
    <% end %>
  </div>
  <div class="tab-pane fage" id="manage-users" role="tabpanel" aria-labelledby="manage-users-tab">
    <%= form_tag  organisation_add_user_saml_app_path(organisation_id: org.id, app_name: app_name), method: :post do  %>
      <div class='form-group'>
        <%= label_tag :email_address %>
        <%= text_field_tag 'email', '', class: 'form-control' %>
      </div>
      <%= submit_tag 'Add User', class: 'btn btn-primary mb-2', id: 'add_user_to_app' %>
    <% end %>
    <div class="table_responsive">
      <table class="table table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.each do |user| %>
            <tr>
              <td><%= link_to user.name, user_path(id: user.id) %></td>
              <td><%= user.email %></td>
              <td><%= link_to "Remove", organisation_remove_user_saml_app_path(organisation_id: org.id, app_name: app_name, email: user.email), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger', id: "saml_user_remove_#{user.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
