<% if @saml_idp_fail_msg %>
  <div id="saml_idp_fail_msg" class="flash error"><%= @saml_idp_fail_msg %></div>
<% end %>



<!DOCTYPE html>
<html>
<head>
  <title>Login - GATE &#8211; Single Sign on</title>
  <meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <style>
    @import url(https://fonts.googleapis.com/css?family=Lato:700,400,300,100);

    body {
      font-size: 14px;
      font-family: Verdana, sans-serif;
      background-color: #153e50;
    }
    #sidebar {
      margin-top: 20px;
    }
    #sidebar .sidebar-content {
      padding: 0;
    }
    #login {
      float: none;
      width: 100%;
    }
    .login #content {
      background: transparent;
    }

    #login {
      padding: 30px;
      background-color: #efefef;
      border-radius: 4px;
      overflow: hidden;
      vertical-align: top;
    }

    #login form > h2 {
      display: none;
    }

    #login label {
      display: block;
      margin-bottom: 2px;
    }

    #login .check label {
      display: inline;
    }

    #login input[type=text], #login input[type=password] {
      font-size: 1.82rem;
      padding: 5px;
      width: 100%;
    }

    #login #yubiKeyForm > h2 {
      display: block;
    }

    #login #yubiKeyForm .btn-reset {
      display: inline-block;
    }
    #login .login-header {
      text-align: center;
      padding: 20px;
      background-color: #d5d5d5;
      margin: -30px;
      margin-bottom: 10px;
    }

    #login .login-header h2 {
      font-weight: 300;
      color: black;
      font-family: 'Lato', sans-serif;
      margin-top: 0;
    }

    #login .login-header .fa-circle {
      color: #1490b3;
    }

    #container {
      width: 960px;
      margin: 0 auto;
    }

    p {
      margin-bottom: 1.4em;
    }

    header {
      overflow: hidden;
      padding: 20px 0;
    }

    body {
      font-size: 14px;
      font-family: Verdana, sans-serif;
    //line-height: 1.4em;
      background-color: #ffffff;
    }
  </style>
</head>

<body id="cas" class="login">
<div id="container" class="container">
  <header>
    <div class="row">
      <div class="col-md-12 text-center">
        GATE Single Sign-on Multifactor Authentication.
      </div>
    </div>

  </header>
  <div id="content">
    <div class="row">

      <div class="col-md-3">
      </div>

      <div class="col-md-6">
        <div class="box" id="login">
          <div class="login-header">
            <h2>GATE Login</h2>
            <span class="fa-stack fa-2x hidden-xs">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
          </div>

          <%= form_tag do %>
            <%= hidden_field_tag("SAMLRequest", params[:SAMLRequest]) %>
            <%= hidden_field_tag("RelayState", params[:RelayState]) %>

            <h2>Enter your Username and Password</h2>

            <p>
              <%= label_tag :email %>
              <%= text_field_tag :email, params[:email], :autocapitalize => "off", :autocorrect => "off", :autofocus => "autofocus", :spellcheck => "false", :size => 30, :class => "email_pwd txt" %>
            </p>

            <p>
              <%= label_tag :password %>
              <%= password_field_tag :password, params[:password], :autocapitalize => "off", :autocorrect => "off", :spellcheck => "false", :size => 30, :class => "email_pwd txt" %>
            </p>

            <p>
              <%= submit_tag "Sign in", :class => "button big blueish" %>
            </p>
          <% end %>

           <div id="sidebar">
            <div class="sidebar-content">
              <p>For security reasons, please <a href="logout">log out</a> and exit your web browser when you are done accessing services that require authentication!</p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>

</div>

</body>
</html>
